<main>
    <mat-toolbar>Home > Fruits</mat-toolbar>


    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick fruit" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto" (input)="openSnackBar()">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <mat-accordion>
        <ng-container *ngFor="let list of this.fruitsList?.fruits | slice:offset:next; let i = index">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{list}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Fruit {{list}} Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio dolorem maxime optio, cum ab rerum cumque voluptatibus reiciendis repudiandae ducimus accusantium minima aspernatur! Et maiores labore non perferendis pariatur.</p>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>

    <mat-paginator [length]="this.fruitsList?.fruits?.length"
              [pageSize]="limit"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="handlePageChange($event)"
              >
    </mat-paginator>

</main>
