<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
        <button mat-button routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
    </span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="fruits">
            <mat-icon>fastfood</mat-icon>
            Fruits
        </button>
        <button mat-button routerLink="vegetables">
            <mat-icon>fastfood</mat-icon>
            Vegetables
        </button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
    </button>
</mat-menu>

<router-outlet></router-outlet>

<ng-container>
    
    <mat-toolbar>Home</mat-toolbar>

</ng-container>