<mat-toolbar>Home > Vegetables</mat-toolbar>

<mat-list role="list">
    <ng-container *ngFor="let list of this.vegetablesList?.vegetables; let i = index">
        <mat-list-item role="listitem">{{list}}</mat-list-item>
    </ng-container>
</mat-list>